In [6]:
import sqlite3
import pandas as pd

In [7]:
#  Load Data from CSV file into a pandas DataFrame
df = pd.read_csv('C:\\TFL Urban Planning Project\\modified.csv')

# Create a connection to the SQLite database
conn = sqlite3.connect('modified.db')

# Load the DataFrame into the SQLite database
df.to_sql('modified', conn, if_exists='replace', index=False)

758456

In [8]:
# Define the SQL query to find the busiest start stations 
query = '''
SELECT StartStn, COUNT(*) as Count
FROM modified
GROUP BY StartStn
ORDER BY Count DESC
'''

# Execute the SQL query using sqlite3
result = conn.execute(query)

# Fetch all rows from the result
rows = result.fetchall()

# Convert the result into a pandas DataFrame
busiest_start_stations = pd.DataFrame(rows, columns=['StartStn', 'Count'])

# Display the busiest start stations
print(busiest_start_stations)

# Execute the SQL query and load the result into a DataFrame
df = pd.read_sql_query(query, conn)

# Export the DataFrame to a Excel file
busiest_start_stations.to_excel('busiest_start_stations.xlsx', index=False)

              StartStn  Count
0        Oxford Circus  17561
1             Victoria  16216
2        London Bridge  15948
3     Liverpool Street  15002
4         Canary Wharf  11570
..                 ...    ...
404           Brockley     12
405     Honor Oak Park     10
406  Sudbury&Harrow Rd      9
407         Bellingham      3
408          Harringay      1

[409 rows x 2 columns]

In [9]:
# Define the SQL query to find the busiest end stations 
query = '''
SELECT EndStation, COUNT(*) as Count
FROM modified
GROUP BY EndStation
ORDER BY Count DESC
'''

# Execute the SQL query using sqlite3
result = conn.execute(query)

# Fetch all rows from the result
rows = result.fetchall()

# Convert the result into a pandas DataFrame
busiest_end_stations = pd.DataFrame(rows, columns=['StartStn', 'Count'])

# Display the busiest start stations
print(busiest_end_stations)

# Execute the SQL query and load the result into a DataFrame
df = pd.read_sql_query(query, conn)

# Export the DataFrame to a Excel file
busiest_end_stations.to_excel('busiest_end_stations.xlsx', index=False)

                StartStn  Count
0          Oxford Circus  20973
1               Victoria  17784
2          London Bridge  15589
3       Liverpool Street  14124
4           Canary Wharf  11608
..                   ...    ...
402      South Greenford     11
403  Sudbury Hill Harrow      8
404             Brockley      7
405    Sudbury&Harrow Rd      3
406            New Cross      3

[407 rows x 2 columns]

In [12]:
# Define the SQL query to find the busiest station overall
query = '''
SELECT Station, COUNT(*) as StationCount
FROM (
    SELECT StartStn AS Station
    FROM modified
    UNION ALL
    SELECT EndStation AS Station
    FROM modified
)
GROUP BY Station
ORDER BY StationCount DESC
'''

# Execute the SQL query using sqlite3
result = conn.execute(query)

# Fetch all rows from the result
rows = result.fetchall()

# Convert the result into a pandas DataFrame
busiest_station = pd.DataFrame(rows, columns=['Station', 'StationCount'])

# Display the busiest station
print(busiest_station)

# Execute the SQL query and load the result into a DataFrame
df = pd.read_sql_query(query, conn)

# Export the DataFrame to a CSV file
busiest_station.to_excel('busiest_station.xlsx', index=False)

               Station  StationCount
0        Oxford Circus         38534
1             Victoria         34000
2        London Bridge         31537
3     Liverpool Street         29126
4         Canary Wharf         23178
..                 ...           ...
407           Brockley            19
408  Sudbury&Harrow Rd            12
409          New Cross             3
410         Bellingham             3
411          Harringay             1

[412 rows x 2 columns]

In [13]:
# Execute a SQL query to count the number of underground journeys by day type
query = '''
SELECT daytype, COUNT(*) AS JourneyCount
FROM modified
GROUP BY daytype
ORDER BY CASE DayType
            WHEN 'Mon' THEN 1
            WHEN 'Tue' THEN 2
            WHEN 'Wed' THEN 3
            WHEN 'Thu' THEN 4
            WHEN 'Fri' THEN 5
            WHEN 'Sat' THEN 6
            WHEN 'Sun' THEN 7
         END
'''
# Execute the query and fetch the results
result = conn.execute(query).fetchall()

# Convert the query result to a DataFrame
journey_counts = pd.DataFrame(result, columns=['daytype', 'JourneyCount'])

# Display the journey counts
print(journey_counts)

# Execute the SQL query and load the result into a DataFrame
df = pd.read_sql_query(query, conn)

# Export the DataFrame to a Excel file
journey_counts.to_excel('journey_counts.xlsx', index=False)

  daytype  JourneyCount
0     Mon        123329
1     Tue        129145
2     Wed        131927
3     Thu        132670
4     Fri        129972
5     Sat         69764
6     Sun         41649

In [14]:
# Execute a SQL query to count the number of underground journeys by Final Product
query = '''
SELECT FinalProduct, COUNT(*) AS FinalProductCount
FROM modified
GROUP BY FinalProduct
ORDER BY FinalProductCount  DESC

'''
# Execute the query and fetch the results
result = conn.execute(query).fetchall()

# Convert the query result to a DataFrame
FinalProduct_Count = pd.DataFrame(result, columns=['FinalProduct', 'FinalProductCount'])

# Display the journey counts
print(FinalProduct_Count)

# Execute the SQL query and load the result into a DataFrame
df = pd.read_sql_query(query, conn)

# Export the DataFrame to Excel file
FinalProduct_Count.to_excel('FinalProduct_Count.xlsx', index=False)

                                FinalProduct  FinalProductCount
0                                       PAYG             375433
1                       LUL Travelcard-7 Day             160171
2                     LUL Travelcard-1 Month             121145
3                      LUL Travelcard-Annual              40609
4                     Freedom Pass (Elderly)              39789
5                    Freedom Pass (Disabled)               9348
6                      LUL Travelcard-Period               4900
7                 Staff Pass - Staff Nominee               2600
8          Staff Pass - Bus Operator Nominee               1990
9                  Staff Pass - Bus Operator               1217
10                    LUL Travelcard->Annual                635
11  Staff Pass - Staff Retired including LCB                420
12                         Tfl Travel - Free                199

In [15]:
# Execute a SQL query to count the number of average journey duration by subsystem
query = '''
SELECT AVG(JourneyDuration), SubSystem AS DurationSubsystem
FROM modified
GROUP BY SubSystem
ORDER BY AVG(JourneyDuration)  DESC

'''
# Execute the query and fetch the results
result = conn.execute(query).fetchall()

# Convert the query result to a DataFrame
DurationSubsystem_Count = pd.DataFrame(result, columns=['AvgJourneyDuration', 'DurationSubsystem'])

# Display the journey counts
print(DurationSubsystem_Count)

# Execute the SQL query and load the result into a DataFrame
df = pd.read_sql_query(query, conn)

# Export the DataFrame to a Excel file
DurationSubsystem_Count.to_excel('DurationSubsystem_Count.xlsx', index=False)

    AvgJourneyDuration DurationSubsystem
0            93.750000           DLR/LRC
1            44.121673            NR/DLR
2            41.617124        LUL/NR/DLR
3            37.787994           LUL/DLR
4            36.360982        LUL/NR/LRC
5            35.892644            LUL/NR
6            28.882880           LUL/LRC
7            28.126625               LRC
8            27.147374            NR/LRC
9            27.092706                NR
10           26.886297               LUL
11           21.369003               DLR

In [16]:
# Execute a SQL query to SubSystem vs. JourneyDuration:
query = '''
SELECT SubSystem, JourneyDuration
FROM modified


'''
# Execute the query and fetch the results
result = conn.execute(query).fetchall()

# Convert the query result to a DataFrame
SubSystemvsJourneyDuration = pd.DataFrame(result, columns=['Subsystem', 'JourneyDuration'])

# Display the journey counts
print(SubSystemvsJourneyDuration)

# Execute the SQL query and load the result into a DataFrame
df = pd.read_sql_query(query, conn)

# Export the DataFrame to a Excel file
SubSystemvsJourneyDuration.to_excel('SubSystemvsJourneyDuration.xlsx', index=False)

       Subsystem  JourneyDuration
0             NR                1
1             NR                1
2             NR                1
3             NR                1
4            LUL                1
...          ...              ...
758451   LUL/LRC              149
758452       LUL              151
758453       LUL              158
758454       LUL              161
758455    LUL/NR              162

[758456 rows x 2 columns]